body {
  background-color: antiquewhite;
  background: linear-gradient(green, brown);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

h1 {
  margin: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
  text-align: center;
}

img {
  max-width: 1000px;
}
.desc {
  background-color: beige;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 15px;
  text-align: center;
}

.sel {
  margin: 1%;
  font-family: 'Courier New', Courier, monospace;
}

.opr {
  background-color: goldenrod;
  font-family: 'Courier New', Courier, monospace;
  padding: 5%;
}

.img-with-wow {
  position: relative;
  margin: 10px;
}

.img-group {
  display: flex;
  margin: 30px;
}

/* Absolute images  */

.wow1 {
  position: absolute;
  top: calc(50% - 82px);
  left: calc(50% - 150px);
  width: 300px;
}

.crown {
  position: absolute;
  left: 152px;
  top: 47px;
  width: 100px;
}

/* Images with animals */

.k1 {
  width: 500px;
}

.k2 {
  width: 500px;
  height: 587px;
}
.p1 {
  width: 500px;
  height: 501px;
}

.p2 {
  width: 500px;
}

.s1 {
  width: 500px;
  height: 334px;
}

.s2 {
  width: 500px;
}

/* Other images */

.otkr {
  width: 300px;
  margin: 30px;
}
