body {
  background-color: antiquewhite; 
  background: linear-gradient(green, brown);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
}

h1 {
  margin: 5px !important;
  font-size: xx-large !important;
  text-align: center !important;
}

.desc {
  background-color: beige;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: large !important;
  margin: 15px !important;
  text-align: center !important;
}

/* .sel {
  margin: 1%;
  font-family: 'Courier New', Courier, monospace;
} */

.opr {
  background-color: goldenrod;
  font-family: 'Courier New', Courier, monospace !important;
  padding: 5% !important;
  margin: 16px !important;
}

.img-with-wow {
  position: relative;
  margin: 10px;
}

.img-group {
  display: flex;
  margin: 10px 30px;
}

/* Absolute images  */

.wowTransparent {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.crown {
  position: absolute;
  left: 152px;
  top: 47px;
  width: 100px;
}

/* Images with animals */

.k1 {
  width: 500px;
}

.k2 {
  width: 500px;
  height: 587px;
}
.p1 {
  width: 500px;
  height: 501px;
}

.p2 {
  width: 500px;
}

.s1 {
  width: 500px;
  height: 334px;
}

.s2 {
  width: 500px;
}

/* Other images */

.otkr {
  width: 300px;
  margin: 30px;
}

#nameU {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  font-size: small;
  margin-top: 10px !important;
}

#nameUser {
  font-size: small;
}

.linkMenu {
  color: #551a8b !important;
  text-decoration-color: #551a8b !important;
}

#scrollUp {
  position: fixed;
  bottom:150px;
  right: 40px;
  z-index: 9999;
  font-size: 70px;
  width: 32px;
  height: 32px;
}